// // Define variables
$gap: 20px;
$checked-color: #ffce44;
$error-color: red;
$icon-cursor: pointer;
$radio-dimensions: 0;
$title-text-color: white;
$button-color: #f9ae07;
$button-hover-active-color: brightness(0) saturate(100%) invert(100%) sepia(50%)
  saturate(0%) hue-rotate(355deg) brightness(105%) contrast(101%);

// Mixin for hiding radio buttons
@mixin hide-radio {
  position: absolute;
  width: $radio-dimensions;
  height: $radio-dimensions;
}

.rating {
  width: 50vw;
  margin: auto;
}

.feedback {
  &_form {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $title-text-color;
    position: relative;
    background-color: #46adfe;
    border-radius: 80px;
    height: 150px;
    font-size: small;
  }

  &_rating {
    display: flex;
    position: absolute;
    bottom: 0px;
    // Staat aan de onderkant van de feedback-header (relatief parent element), de translate Y verplaatst de feedback-rating van zijn huidige positie.
    transform: translateY(20px);
    gap: $gap;
  }

  &_smiley {
    display: flex;
    padding: 15px;
    background-color: #fceec8;
    border-radius: 100%;

    [type="radio"] {
      @include hide-radio;
    }

    [type="radio"] + label {
      display: flex;
      cursor: $icon-cursor;
    }

    [type="radio"]:checked + img {
      filter: $button-hover-active-color;
    }

    [type="radio"]:hover + img {
      filter: $button-hover-active-color;
    }

    [type="radio"]:active + label {
      background-color: $checked-color;
    }

    &-very-bad {
      background-color: #fef8f8;
    }

    &-bad {
      background-color: #fdf1d2;
    }

    &-average {
      background-color: #fdffd9;
    }

    &-good {
      background-color: #a1e36d;
    }

    &-excellent {
      background-color: #d7ffeb;
    }
  }

  &_success {
    display: flex;
    align-items: center;
    background-color: #d5f5db;
    color: #1acf00;
    height: 40px;
    padding: 10px;
  }

  &_commentbox {
    display: flex;
    flex-direction: column;

    & h3 {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &_comment {
    height: 100px;
    border-radius: 6px;
    font-size: 1.5rem;
    border-color: lightgrey;
  }

  &_info {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    margin-top: 20px;

    &_text {
      color: lightgrey;
      font-size: 0.8rem;
      font-style: italic;
    }
  }

  &_textarea_error {
    outline-color: $error-color;
    border: 1px solid $error-color;
  }

  &_error {
    color: $error-color;
    margin-top: 10px;
  }

  &_submit {
    padding: 10px 20px;
    border-radius: 6px;
    background-color: $button-color;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    color: $title-text-color;
    font-weight: bold;
  }
}
