$primary-color: #46adfe;
$secondary-color: #f9ae07;
$checked-color: #ffce44;
$error-color: red;
$icon-cursor: pointer;
$radio-dimensions: 0;
$title-text-color: white;
$font-size: 0.8rem;
$button-hover-active-color: brightness(0) saturate(100%) invert(100%) sepia(50%)
  saturate(0%) hue-rotate(355deg) brightness(105%) contrast(101%);
