@import "variables";

.sell_rent {
  padding-top: 50px;

  &_text {
    display: flex;
    flex-direction: column;
    text-align: center;

    & h2 {
      margin-bottom: 20px;
    }

    & p {
      margin-bottom: 10px;
      color: #565656;
      font-weight: 200;
      font-size: $font-size;
    }
  }

  &_cta {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

    & button {
      padding: 10px 20px;
      border-radius: 6px;
      background-color: white;
      color: $secondary-color;
      font-size: $font-size;
      border: solid $secondary-color;
      cursor: pointer;
    }
  }
}
