<div class="sell_rent">
  <div class="sell_rent_text">
    <h2>Wat te doen als je je huis zelf verkoopt of verhuurt?</h2>
    <p>
      Twijfel je hoe je moet beginnen aan de verkoop of verhuur van je woning?
      Geen nood. We begrijpen dat dit een spannende periode is we willen je hier
      graag bij helpen. <br /><br />
      gidsen we je door het proces met een overzichterlijk stappenplan. Zo kan
      je zonder zorgen je woning te koop of te huur aanbieden. Het enige wat je
      nog moet doen, is beslissen of je wil verhuren of verkopen!
    </p>
  </div>
  <div class="sell_rent_cta">
    <button>Verkoop</button>
    <button>Verhuur</button>
  </div>
</div>
