<div class="rating">
  <!-- <div class="feedback-container"> -->
  <form
    class="feedback_form"
    [formGroup]="feedbackForm"
    (ngSubmit)="onSubmit(feedbackForm)"
  >
    <div class="feedback_header">
      <h1 class="feedback_title">
        Hoe eenvoudig kon je je huis online plaatsen?
      </h1>
      <div class="feedback_rating">
        @for (rating of ratingOptions; track $index) {
        <label
          class="feedback_smiley feedback_smiley-{{ rating.class }}"
          [ngStyle]="{
            opacity: selectedRating?.value === rating.value ? 1 : 0.5
          }"
        >
          <input
            type="radio"
            formControlName="rating"
            id="{{ rating.label }}"
            [value]="rating.value"
            [(ngModel)]="selectedRating"
            (change)="onRatingChange(rating)"
          />
          <!-- <img
          src="{{ rating.iconSrc }}"
          alt="{{ rating.label }}"
          class="review__icon"
        /> -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="30"
            width="30"
            viewBox="0 0 512 512"
          >
            <path
              fill="#FFD43B"
              d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm177.6 62.1C192.8 334.5 218.8 352 256 352s63.2-17.5 78.4-33.9c9-9.7 24.2-10.4 33.9-1.4s10.4 24.2 1.4 33.9c-22 23.8-60 49.4-113.6 49.4s-91.7-25.5-113.6-49.4c-9-9.7-8.4-24.9 1.4-33.9s24.9-8.4 33.9 1.4zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
            />
          </svg>
        </label>
        }
      </div>
    </div>

    <div
      class="feedback_success"
      [ngStyle]="{
        display: formSubmitted ? '' : 'none'
      }"
    >
      Feedback met succes verzonden!
    </div>

    <div
      class="feedback_commentbox"
      [ngStyle]="{
        display: selectedRating !== null && !formSubmitted ? 'flex' : 'none'
      }"
    >
      <h3>Geef je graag wat meer uitleg?</h3>
      <!-- TODO: fix inline styling here -->
      <textarea
        class="feedback_comment"
        formControlName="description"
        [ngStyle]="{
          'outline-color':
            (description?.invalid && description?.dirty) ||
            (description?.touched && description?.invalid)
              ? 'red'
              : 'lightgrey',

              'border-color':
            (description?.invalid && description?.dirty) ||
            (description?.touched && description?.invalid)
              ? 'red'
              : 'lightgrey',

        }"
      >
      </textarea>
      <div class="feedback_error">
        @if (description?.invalid && description?.dirty || description?.touched
        && description?.invalid ) {
        <div class="error">Mag niet leeg zijn</div>
        }
        <div class="feedback_info">
          <span class="feedback_info_text"
            >Wij verwerken uw gegevens conform onze privacy policiy</span
          >
          <button type="submit" class="feedback_submit">Verzenden</button>
        </div>
      </div>
    </div>
  </form>
  <!-- </div> -->
</div>
