// // Define variables
$gap: 20px;
$checked-color: #ffce44;
$outline-color: #f00;
$icon-cursor: pointer;
$radio-opacity: 0;
$radio-dimensions: 0;
$title-text-color: white;
$button-color: #f6a00b;

// // Mixin for hiding radio buttons
@mixin hide-radio {
  position: absolute;
  opacity: $radio-opacity;
  width: $radio-dimensions;
  height: $radio-dimensions;
}

// Mixin for checked styles
@mixin checked-styles {
  background-color: $checked-color;
}

.rating {
  width: 50vw;
  margin: auto;
}

.feedback {
  &_form {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $title-text-color;
    position: relative;
    background-color: #46adfe;
    border-radius: 80px;
    height: 150px;
  }

  &_rating {
    display: flex;
    position: absolute;
    bottom: 0px;
    // Staat aan de onderkant van de feedback-header (relatief parent element), de translate Y verplaatst de feedback-rating van zijn huidige positie.
    transform: translateY(20px);
    gap: $gap;
  }

  &_smiley {
    display: flex;
    padding: 15px;
    background-color: #fceec8;
    border-radius: 100%;
    opacity: 0.6;

    [type="radio"] {
      @include hide-radio;
    }

    [type="radio"] + label {
      display: flex;
      cursor: $icon-cursor;
    }

    [type="radio"]:checked + label {
      @include checked-styles;
    }
    &-very-bad {
      background-color: #ff0000;
    }

    &-bad {
      background-color: orange;
    }

    &-average {
      background-color: yellow;
    }

    &-good {
      background-color: lightgreen;
    }

    &-excellent {
      background-color: green;
    }
  }

  &_success {
    background-color: lightgreen;
    color: green;
    height: 30px;
    align-content: center;
    padding: 10px;
  }

  &_commentbox {
    display: flex;
    flex-direction: column;

    & h3 {
      text-align: center;
    }
  }

  &_comment {
    height: 100px;
    border-radius: 6px;
    font-size: 1.5rem;
    border-color: lightgrey;
  }

  &_info {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    margin-top: 20px;

    &_text {
      color: lightgrey;
      font-size: 0.8rem;
    }
  }

  &_error {
    color: red;
    margin-top: 10px;
  }

  &_submit {
    padding: 10px 20px;
    border-radius: 6px;
    background-color: $button-color;
    color: #000;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    color: $title-text-color;
  }
}
